[project]
	description = JPEGrescan: losslessly shrink any JPEG file.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akuche
[access "refs/for/refs/*"]
	read = group user/akuche
	push = group user/akuche
	label-Code-Review = -2..+2 group user/akuche
	label-Verified = -1..+1 group user/akuche
	rebase = group user/akuche
	removeReviewer = group user/akuche
	submit = group user/akuche
[access "refs/heads/*"]
	read = group user/akuche
	create = group user/akuche
	push = +force group user/akuche
	pushMerge = group user/akuche
[access "refs/tags/*"]
	push = +force group user/akuche
	pushTag = group user/akuche
	pushSignedTag = group user/akuche
